* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: white;
}

#search {
  margin-top: 2rem;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  position: fixed;
  height: 50px;
  left: 0;
  top: 0;
  background-color: white;
  width: 100%;
  padding: 0rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 2;
}

.burger {
  cursor: pointer;
}

.burger > div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.2rem;
  background-color: black;
  pointer-events: none;
}

.logo {
  flex: 1;
}

.logo a {
  color: black;
  font-weight: 800;
  font-size: 2rem;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
  background-color: white;

  clip-path: circle(50px at 100% -10%);
  -webkit-clip-path: circle(50px at 100% -10%);
}

.contact {
  /* flex-basis: 40rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-bar > * {
  font-size: 2.5rem;
}

.hover {
  background: linear-gradient(coral 0 0) var(--p, 0) / var(--p, 0) no-repeat;
  transition: 0.4s, background-position 0s;
}

.hover:hover {
  --p: 100%;
  color: #fff;
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  /* flex-basis: 30rem; */
}

.nav-links li {
  padding-left: 2rem;
  cursor: pointer;
  color: black;
  margin-top: 1rem;
}

.nav-links a,
.logo a {
  text-decoration: none;
}

.hide {
  overflow: hidden;
}

.sign-up {
  border: none;
  padding: 0.5rem 2rem;
  background-color: coral;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.5rem;
  margin-top: 2rem;
}

.sign-up:hover {
  background-color: gray;
  color: white;
}

h2 {
  text-align: center;
  margin: 3rem 0rem 2rem;
  font-size: 3rem;
}

form {
  border: 1px solid gray;
  height: 2.5rem;
  min-width: 500px;
  margin: 0rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 0.2rem;
}

.search-input {
  border: none;
  flex: 1;
  font-family: inherit;
  font-size: 1rem;
  margin-left: 1rem;
}

.search-input:focus {
  outline: none;
}

.search-icon {
  cursor: pointer;
  border: none;
  background: transparent;
}

.fa-solid {
  cursor: pointer;
  padding: 0rem 0.5rem;
  font-size: 1rem;
  color: gray;
}

.more {
  display: flex;
  height: 30vh;
  align-items: center;
}

.more-btn {
  border: none;
  padding: 1rem 2rem;
  border-radius: 8px;
  font-family: inherit;
  margin-top: 2rem;
  cursor: pointer;
  background-color: rgb(61, 61, 62);
  color: white;
  font-size: 1rem;
}

.more-btn:hover {
  background-color: coral;
}

.img-photo {
  display: flex;
  justify-content: space-between;
}

.img-photo a {
  color: gray;
}

.img-photo a:hover {
  color: coral;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  row-gap: 3rem;
  column-gap: 4rem;
  margin-top: 2rem;
}

.photo {
  color: gray;
}

.photo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

main {
  width: 90%;
  margin: auto;
}

@media screen and (max-width: 900px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }

  form {
    margin-top: 5rem;
    min-width: 300px;
  }

  h2 {
    position: absolute;
    opacity: 0;
  }

  .nav-bar > * {
    font-size: 2rem;
  }

  .nav-bar {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .burger {
    position: fixed;
    top: 17px;
    right: 20px;
  }

  .nav-links {
    flex-basis: 20rem;
    margin-bottom: 1rem;
  }

  .logo {
    position: fixed;
    top: 7px;
    left: 20px;
    flex: 1;
  }

  .contact {
    flex-basis: 1rem;
  }
}
